[access]
	inheritFrom = policy
[project]
	description = Policy Administration GUI (Frontend). Archived as per RT69287\n\nRe-activating as per IT-18822
[access "refs/*"]
	read = deny group GitHub Replication
	owner = group ldap/onap-gerrit-policy-gui-committers
	owner = group saml/onap-gerrit-policy-gui-committers
