# Ignore files and directories that start with .
.*
.*/

target
/bin/

# IntelliJ files
*.iml
**/*.iml

# Node, NPM and Yarn files
node
node_modules
package-lock.json
yarn.lock

# React
*.log
logs
**/*.backup.*
**/*.back.*
bower_components

# Exclude .gitignore from ignore list
!/.gitignore
